.form {
  user-select: none;
  padding: 30px 0;
  background-color: #fff;
  color: #8d8d8d;
  font-family: 'Quicksand', sans-serif;
  .error {
    color: #e53e3e;
    margin-top: 8px;
  }
  label {
    margin-top: 25px;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    align-items: center;
    gap: 7px;

    &.terms {
      align-items: center;
      display: flex;
    }
  }
  input {
    display: block;
    border: none;
    background-color: #f6f6f6;
    height: 60px;
    padding: 0 15px;
    margin-top: 7px;
    width: 100%;
    outline-color: #8cc832;
  }

  input[type='checkbox'] {
    margin: 0;
    width: 15px;
    height: 15px;
    outline: transparent;
    user-select: none;
    .checkbox {
      display: flex;
      align-items: center;
    }
  }
  button {
    width: 100%;
    margin-top: 50px;
    border: none;
    color: #fff;
    background-color: #292929;
    padding: 17px;
    letter-spacing: 3px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: all 0.2s;
    text-transform: uppercase;

    &:hover {
      background-color: #8cc832;
    }
  }
}

.heading {
  font-family: 'Roboto';
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
}
