@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(194 202 244);
  padding: 50px;
  font-family: 'Roboto', sans-serif;
}
